<nav class="navbar navbar-expand-lg bg-body-tertiary mb-2">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="lista" class="nav-link active" aria-current="page" >Lista</a>
        </li>
        <li class="nav-item">
          <a routerLink="crear" class="nav-link active" aria-current="page" >Agregar</a>
        </li>


      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<div class="container">
  <router-outlet />
</div>

<footer class="footer">
  <div class="container">
    <span>Derechos Reservados para la mayor folldora</span>
  </div>
</footer>

